<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Optional: override App_Data storage location. Leave empty to use ~/App_Data.
         Useful when the IIS worker identity lacks write access to the site folder.
         Example: <add key="AppDataStoragePath" value="D:\SmallsData\App_Data" /> -->
    <!-- <add key="AppDataStoragePath" value="" /> -->
  </appSettings>

  <connectionStrings>
    <add name="SQLConnString_x"
         connectionString="Server=SVRP0007B966\RRSHRD01; Database={0}; User ID=CACHReporting_User; Password=M1v/T^c.b2-5od7L:IS3BZb&amp;$v0{&lt;1b/;" />
    <add name="SQLConnString"
         connectionString="Server=10.66.225.81; Database={0}; User ID=wwAdmin; Password=wwAdmin;" />
    <add name="XMlConfigFIle" connectionString=".\DisplayConfig_2.xml" />
  </connectionStrings>

  <system.web>
    <!-- Enable full error visibility & debugging -->
    <customErrors mode="Off" />
    <compilation targetFramework="4.8" debug="true" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" />

    <pages>
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Xml" />
        <!-- etc -->
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="CACHReports.aspx" />
      </files>
    </defaultDocument>

    <directoryBrowse enabled="false" />

    <!-- Application Initialization: warms up the app on app-pool start / recycle.
         Requires: IIS Feature "Application Initialization" enabled on the server.
         Combined with App Pool Start Mode = AlwaysRunning + Site Preload Enabled = True,
         this ensures Application_Start fires immediately without waiting for the first request. -->
    <applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/" />
    </applicationInitialization>

    <!-- Show detailed errors and keep JSON/text responses intact -->
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: DB553240-EC55-4EED-B46D-AF1047F03B4F-->
